@import "../abstracts/theme";

.landing-header {
  background: linear-gradient($clr-header-bg 0%, #04040460 60%, transparent 100%);
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 960px) {
    padding: 1rem 5rem;
  }
  @media screen and (min-width: 1280px) {
    padding: 1rem 10rem;
  }

  &__logo-container {
    img {
      width: 100px;

      @media screen and (min-width: 960px) {
        width: 150px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    img {
      width: 20px !important;
    }
  }
}
