/*
$colors: (
  "reds": (
    "base": #e50914,
    "hover": #b20710,
    "splitter": #e10b1c
  ),
  "black": #000000,
  "white": #ffffff,
  grays: (
    "accordion": (
      "base": #2d2d2d,
      "hover": #414141
    ),
    "arrow": (
      "base": #1a1a1a,
      "hover": #333333
    )
  ),
  "pink": (
    "splitter": #9a2358, //Section Splitter
    "splitter-dark": #200d16, // Section Splitter
    "gradient": #200e16, // Card Gradient Color
  ),
  "purple-blue": (
    "background": #121b41 // Section Splitter Background + Card Gradient Color
  )
);
*/
@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scaleUp {
  0% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
@keyframes scaleDown {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.9;
  }
}
@keyframes blurDown {
  0%, 30% {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  99% {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
  100% {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
}
html,
body,
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: 2rem;
}
@media screen and (min-width: 960px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 1.125rem;
}
@media screen and (min-width: 960px) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1rem;
}

.input,
select {
  border: solid 1px #5e5e5e;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.06);
  outline-offset: 0.125rem;
  color: white;
  font-size: 1rem;
}

.input {
  padding: 1rem;
  width: 100%;
  margin: 0;
}
.input::-moz-placeholder {
  font-weight: 500;
  color: #b4b6b6;
  position: absolute;
  font-size: 0.875rem;
  -moz-transition: translate 0.2s ease-in, font-size 0.25s ease-in;
  transition: translate 0.2s ease-in, font-size 0.25s ease-in;
}
.input::placeholder {
  font-weight: 500;
  color: #b4b6b6;
  position: absolute;
  font-size: 0.875rem;
  transition: translate 0.2s ease-in, font-size 0.25s ease-in;
}
.input:focus {
  outline: solid 2px white;
}
.input:focus::-moz-placeholder {
  translate: 0 -16px;
  font-size: 12px;
}
.input:focus::placeholder {
  translate: 0 -16px;
  font-size: 12px;
}

select {
  padding: 0.375rem;
}
select option {
  color: black;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

.button {
  color: #ffffff;
  background-color: #e50914;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  transition: background-color 0.4s ease-in;
}
.button:hover {
  background-color: #c1111a;
}
.button:active {
  background-color: #831010;
  transition: background-color 0.01s ease-in-out;
  color: rgba(255, 255, 255, 0.7019607843);
}

.card {
  border-radius: 0.5rem;
}

.hide {
  opacity: 0;
}

.delete {
  display: none;
}

.translate-left {
  translate: -150% 0;
}

.translate-right {
  translate: 150% 0;
}

.opacity-in {
  animation: opacityIn 0.5s;
}

.opacity-out {
  animation: opacityOut 0.5s;
}

.scale-up {
  animation: scaleUp 0.2s ease-out;
}

.scale-down {
  animation: scaleDown 0.2s ease-out;
}

.blur-down {
  animation: blurDown 0.6s ease-out;
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scaleUp {
  0% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
@keyframes scaleDown {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.9;
  }
}
@keyframes blurDown {
  0%, 30% {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  99% {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
  100% {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
}/*# sourceMappingURL=main.css.map */