---
import Head from "../layouts/Head.astro";

import Header from "../layouts/Header.astro";
import Hero from "../sections/Hero.jsx";
import Raisons from "../sections/Raisons.astro";
import Splitter from "../sections/Splitter.astro";
import Tendances from "../sections/Tendances.jsx";
import FAQ from "../sections/FAQ";
import CTA from "../sections/CTA.astro";
import Footer from "../sections/Footer.astro";
---

<!doctype html>
<html lang="en">
  <Head>
    <link rel="stylesheet" href="/src/styles/home.css" />
  </Head>

  <body>
    <main class="page-main home-page">
      <div class="common-container">
        <Header />

        <Hero client:visible />
        <!-- <Splitter /> -->
        <Tendances client:visible />
        <Raisons />
      </div>

      <FAQ client:visible />

      <CTA />
    </main>

    <Footer />
  </body>
</html>
