---
import Button from "../components/Button.astro";
import Select from "../components/Select.astro";

import Head from "../layouts/Head.astro";

import Hero from "../sections/Hero.astro";
import Splitter from "../sections/Splitter.astro";
import Tendances from "../sections/Tendances.jsx";
---

<!doctype html>
<html lang="en">
  <Head>
    <link rel="stylesheet" href="/src/styles/home.css" />
  </Head>

  <body>
    <header class="landing-header">
      <div class="landing-header__logo-container">
        <img src="/public/images/logo.png" alt="Logo Image" />
      </div>

      <div class="landing-header__actions">
        <Select
          name="lang"
          id="lang"
          options={["العربية", "Français", "English"]}
        >
          <img
            style="width: 50px;"
            src="/public/images/language-icon.png"
            alt="Language Icon"
          />
        </Select>

        <Button>
          <span class="text">S'identifier</span>
        </Button>
      </div>
    </header>

    <main class="page-main">
      <Hero />

      <Splitter />

      <Tendances client:visible />
    </main>
  </body>
</html>
