---
import Head from "../layouts/Head.astro";
import Hero from "./sections/Hero.astro";
---

<!doctype html>
<html lang="en">
  <Head>
    <link rel="stylesheet" href="/src/styles/home.css" />
  </Head>

  <body>
    <main class="page-main">
      <Hero />
    </main>
  </body>
</html>
