@use "../layout/header";
@use "../sections/hero";
@use "../sections/splitter";
@use "../sections/tendances";
@use "../sections/raisons";
@use "../sections/faq";
@use "../sections/cta";
@use "../layout/footer";

@import "../abstracts/theme";

// .page-main {
//   height: 100% !important;
//   max-height: 100% !important;
//   overflow-x: hidden !important;
// }

.common-container {
  position: relative;
  border: solid transparent;
  width: 100% !important;
  max-width: 100vw !important;
}

.modal-overlay {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    position: relative;
    width: 100%;
    border: solid 1px $clr-gray-input-border;
    border-radius: 0.25rem;
    background-color: $clr-movie-dialog-background-gray;
    color: white;

    .close-button {
      z-index: 999;
      // background-color: transparent;
      color: white;
      border: none;
      font-size: 2.5rem;
      font-weight: 300;
      position: absolute;
      top: 1rem;
      right: 0;
    }

    .fade-in {
      opacity: 0;
      transform: scale(0.7);
      animation: fadeIn 0.3s forwards !important;
    }

    .fade-out {
      opacity: 1;
      transform: scale(1);
      animation: fadeOut 0.3s forwards !important;
    }
  }
}

.modal-content-enter {
  opacity: 0;
  transform: scale(0.7);
}

.modal-content-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.modal-content-exit {
  opacity: 1;
  transform: scale(1);
}

.modal-content-exit-active {
  opacity: 0;
  transform: scale(0.7);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

// ANIMATIONS

@keyframes bounceSize {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounceBg {
  0% {
    background-color: rgba(255, 0, 0, 0.434);
  }

  50% {
    background-color: rgba(255, 255, 0, 0.434);
  }

  100% {
    background-color: rgba(255, 0, 0, 0.434);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}
