@use "../layout/header";
@use "../sections/hero";
@use "../sections/splitter";
@use "../sections/tendances";
@use "../sections/raisons";
@use "../sections/faq";
@use "../sections/cta";
@use "../layout/footer";

@import "../abstracts/theme";

.common-container {
  position: relative;
  border: solid transparent;
  background: $clr-bg;
}
