<section class="cta-section section">
  <div class="cta-container">
    <h3>
      Prêt à regarder Netflix ? Saisissez votre adresse e-mail pour vous abonner
      ou réactiver votre abonnement.
    </h3>

    <form class="cta-form actions-form">
      <input
        class="email-input input"
        type="email"
        placeholder="Adresse e-mail"
      />

      <a class="cta-button button">
        <span>Commencer</span>
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </form>
  </div>
</section>
