---
import RaisonsCard from "../components/RaisonsCard.astro";
---

<section class="raisons-section section">
  <h2>Encore plus de raisons de vous abonner</h2>

  <div class="raisons-cards">
    <RaisonsCard
      heading="Regardez Netflix sur votre TV"
      text="Regardez Netflix sur votre Smart TV, PlayStation, Xbox, Chromecast, Apple TV, lecteur Blu-ray et bien plus."
      textClasses="small-text"
      iconUrl="/public/images/icons/tv-icon.png"
    />

    <RaisonsCard
      heading="Téléchargez vos séries pour les regarder hors connexion"
      text="Enregistrez vos programmes préférés et ayez toujours quelque chose à regarder."
      iconUrl="/public/images/icons/download-icon.png"
    />

    <RaisonsCard
      heading="Où que vous soyez"
      text="Regardez des films et séries en accès illimité sur votre TV, smartphone, tablette et ordinateur."
      iconUrl="/public/images/icons/zoom-icon.png"
    />

    <RaisonsCard
      heading="Créez des profils pour les enfants"
      text="Les enfants découvrent de nouvelles aventures et retrouvent leurs personnages préférés dans un espace bien à eux, déjà inclus dans votre abonnement."
      iconUrl="/public/images/icons/kid-profile-icon.png"
    />
  </div>
</section>
