// padding: 5.75rem 1.25rem 1.25rem;
// padding: 1.25rem;
// background: rgba(0, 0, 0, 0.75) url("/public/images/hero-image.jpg");
// min-height: 50vh;
@import "../abstracts/theme";

.hero-section {
  position: relative;
  z-index: 10;
  margin-top: 4.75rem;
  // background-size: cover;
  // background-blend-mode: multiply;
  padding: 0 1.5rem;
  color: white;
  overflow: hidden;

  @media screen and (min-width: 600px) {
    padding: 0 2rem;
  }
  @media screen and (min-width: 960px) {
    padding: 0 1.5rem;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 2.5rem;
  }

  .prev-button,
  .next-button {
    position: absolute;
    top: 11.25rem;
    padding: 1.75rem 0.5rem;
    border: solid 1px $clr-gray-input-border;
    border-radius: 4rem;
    z-index: 900;
    background-color: $clr-gray-arr;
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $clr-gray-acc;
    }
  }
  .prev-button {
    left: 0.75rem;

    @media screen and (min-width: 600px) and (max-width: 959px) {
      left: 1.25rem;
    }
    @media screen and (min-width: 1280px) {
      left: 1.75rem;
    }
  }
  .next-button {
    right: 0.75rem;

    @media screen and (min-width: 600px) and (max-width: 959px) {
      right: 1.25rem;
    }
    @media screen and (min-width: 1280px) {
      right: 1.75rem;
    }
  }

  .slideshow-container {
    position: relative;
    padding: 1rem;
    height: 27.25rem;
    width: 100%;
    border-radius: 1rem;
    mask-image: radial-gradient(101% 10% at 50% 102%, transparent 50%, white 52%);

    @media screen and (min-width: 960px) {
      height: 480px;
    }
    @media screen and (min-width: 1280px) {
      height: 732px;
    }

    .slide {
      position: absolute;
      // pointer-events: auto;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: end;
      border-radius: 1rem;
      margin: auto;
      text-align: center;
      background: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.8) 74%, $clr-gray-arr 100%);
      background-size: cover;
      background-blend-mode: multiply;
      padding: 2.5rem 1rem;
      // opacity: 0;
      transition: opacity 1s ease !important;

      @media screen and (min-width: 600px) {
        padding: 3rem 2.25rem;
        text-align: start;
      }
      @media screen and (min-width: 960px) {
        padding: 4.75rem 3.5rem;
      }
      @media screen and (min-width: 1280px) {
        padding: 6rem 5rem;
      }

      .slide-overlay {
        z-index: 10;
        position: absolute;
        opacity: 0;
        background: rgba(200, 200, 200, 0.2);
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: opacity 1s ease;
      }

      .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        object-fit: cover;

        @media screen and (min-width: 600px) {
          height: 100% !important;
        }
      }

      .container {
        position: relative;
        transition: opacity 0.8s ease;

        .info {
          position: relative;

          .wrapper {
            @media screen and (min-width: 600px) {
              max-width: 26.5rem;
            }
            @media screen and (min-width: 960px) {
              max-width: 39.5rem;
            }
            @media screen and (min-width: 1280px) {
              max-width: 39.5rem;
            }

            h1 {
              line-height: 1.75rem;

              @media screen and (min-width: 600px) {
                line-height: 2.5rem;
                margin-bottom: 0.5rem;
              }

              @media screen and (min-width: 960px) {
                line-height: 3.5rem;
                font-weight: $fw-bold;
              }

              @media screen and (min-width: 1280px) {
                line-height: 4.5rem;
              }
            }

            .sub-heading {
              font-weight: $fw-light;
              margin-bottom: 1rem;

              @media screen and (min-width: 960px) {
                font-size: 1.125rem;
                margin-bottom: 1.5rem;
              }
              @media screen and (min-width: 1280px) {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
              }
            }

            .tags {
              margin-bottom: 0.75rem;
              font-size: 0.875rem;

              ul {
                margin: auto;
                display: flex;
                justify-content: start;

                li {
                  &:nth-of-type(2)::before,
                  &:nth-of-type(3)::before,
                  &:nth-of-type(4)::before {
                    content: "•";
                    margin-left: 0.375rem;
                    margin-right: 0.375rem;
                    color: rgba(255, 255, 255, 0.4);
                  }
                }
              }
            }

            .description {
              display: none;
              font-size: 0.875rem;

              @media screen and (min-width: 960px) {
                display: block;
              }
            }

            .vertical-space {
              height: 1rem;

              @media screen and (max-width: 959px) {
                display: none;
              }
            }
          }

          .logo-img {
            position: absolute;
            top: -4rem;
            left: 0;
            width: 19rem;
          }
        }

        .actions {
          width: 100%;

          @media screen and (min-width: 740px) {
            max-width: 36.25rem;
          }

          .text {
            line-height: 1.125rem;
            letter-spacing: -0.025rem;
            margin-bottom: 0.75rem;
            font-weight: $fw-light;
            animation: visibilityAnimation 1s ease infinite;

            @media screen and (min-width: 960px) {
              line-height: 1.5rem;
              letter-spacing: -0.03rem;
              margin-bottom: 1rem;

              small {
                font-size: 1rem !important;
              }
            }
          }

          form {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            pointer-events: auto;

            @media screen and (min-width: 600px) {
              flex-direction: row;
              column-gap: 0.5rem;
            }

            input {
              padding: 0.75rem 1rem 0.5rem;
              background-color: /* $clr-gray-input-bg */ #474747e6;

              @media screen and (min-width: 600px) {
                flex: 1;
              }
              @media screen and (min-width: 960px) {
                padding: 1.125rem 1rem 0.875rem;
              }
            }

            .cta-button {
              padding: 0.75rem 1rem;

              @media screen and (min-width: 600px) {
                font-size: 1.25rem;
                width: 14.75rem;
              }
              @media screen and (min-width: 960px) {
                padding: 0.875rem 1rem;
              }

              .text {
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }

    .active-transition {
      .container {
        animation: translateLeft 0.8s ease;
        display: block !important;
      }

      .transition-bg {
        animation: transitionBg 0.8s ease;
      }

      .fadeout-translate {
        animation: fadeoutTranslate 1s ease;
      }

      .translate-img {
        animation: translateImg 1s ease;
      }
    }
  }

  .slide-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    .slides-buttons {
      display: flex;
      align-items: center;
      column-gap: 0.25rem;

      .button-container {
        cursor: pointer;
        width: 2.875rem;
        height: 2rem;
        display: flex;
        align-items: center;

        &:hover button {
          height: 0.375rem;
          background-color: rgba(255, 255, 255, 0.7) !important;
        }

        @media screen and (min-width: 600px) {
          width: 7rem;
        }

        button {
          position: relative;
          display: block;
          width: 100%;
          height: 0.25rem;
          border: none;
          border-radius: 4rem;
          background-color: rgba(255, 255, 255, 0.4);
          transition:
            height 0.3s,
            background-color 0.3s ease;

          span {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 00%;
            height: 100%;
            background-color: white;
            border-radius: 4rem;
          }
        }
      }
    }
  }

  // ANIMATIONS
  @keyframes translateLeft {
    0% {
      translate: 1rem 0;
    }

    100% {
      translate: 0 0;
    }
  }

  @keyframes fadeoutTranslate {
    0% {
      translate: 0 0;
    }

    100% {
      translate: -3rem 0;
    }
  }

  @keyframes transitionBg {
    0% {
      opacity: 0;
    }

    15% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }
  }

  @keyframes translateImg {
    0% {
      left: 1rem;
      right: -1rem;
    }

    100% {
      left: 0;
      right: 0;
    }
  }

  // &__container {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   max-width: 36.75rem;

  //   .info {
  //     h1 {
  //       text-align: center;

  //       @media screen and (min-width: 1280px) {
  //         line-height: 5rem;
  //         margin-bottom: 1rem;
  //       }
  //     }

  //     p {
  //       text-align: center;
  //       font-size: 0.96875rem;
  //       font-weight: $fw-medium;

  //       &:first-of-type {
  //         margin-bottom: 1rem;

  //         @media screen and (min-width: 1280px) {
  //           font-size: 1.25rem;
  //         }
  //       }
  //     }
  //   }

  //   .actions {
  //     padding: 1rem 0;
  //     width: 100%;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     row-gap: 1.5rem;

  //     @media screen and (min-width: 600px) {
  //       flex-direction: row;
  //       column-gap: 0.5rem;

  //       .input {
  //         width: 60%;
  //       }
  //     }

  //     .input {
  //       // padding: 0.75rem 1rem;
  //       // max-width: 85%;
  //       background: rgba(255, 255, 255, 0.2);
  //     }

  //     .button-container {
  //       width: 100%;
  //       .button {
  //         .text {
  //           margin-right: 0.5rem;
  //         }
  //       }
  //     }
  //   }
  // }
}
