@import "../abstracts/theme";

.tendances-section {
  // background-size: 10% 10%;
  // background-repeat: no-repeat;
  // background: linear-gradient(transparent, $clr-bg 100px);
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 0rem;

  .container {
    position: relative;

    .prev,
    .next {
      position: absolute;
      top: 0rem;
      z-index: 999;
      color: white;
      width: 2rem;
      height: 15rem;
      display: flex;
      align-items: center;
      transition:
        0.4s opacity ease,
        0.6s translate ease;
      border: none;

      @media screen and (min-width: 960px) {
        height: 14.375rem;
      }
      @media screen and (min-width: 1280px) {
        height: 17.5rem;
      }

      span {
        padding: 0 0.325rem;
        border-radius: 4rem;
        height: 40%;
        display: flex;
        align-items: center;
        background-color: $clr-gray-arr;

        &:hover {
          background-color: $clr-gray-arr-hover;
        }

        @media screen and (min-width: 960px) {
          height: 60%;
        }
        @media screen and (min-width: 1280px) {
          height: 50%;
        }
      }
    }

    .prev {
      background: linear-gradient(to right, $clr-bg 10%, transparent 80%);
    }

    .next {
      right: 0rem;
      padding: 0.75rem;
      background: linear-gradient(to left, $clr-bg 10%, transparent 80%);
    }

    .wrapper {
      position: relative;
      height: 15rem;
      overflow-x: scroll;

      @media screen and (min-width: 960px) {
        height: 18rem;
      }

      // Hide scrollbar without disabling functionality:
      -ms-overflow-style: none; // For IE and Edge
      scrollbar-width: none; // For Firefox

      // For Chrome, Opera...
      &::-webkit-scrollbar {
        display: none;
      }

      .movies-list {
        position: absolute;
        display: flex;
        column-gap: 2rem;
        padding: 0 0 0 1rem;

        @media screen and (min-width: 960px) {
          column-gap: 2.75rem;
        }

        .movie-card {
          cursor: pointer;
          width: 6.5rem;
          height: 13rem;
          margin-top: 1rem;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border-radius: 1rem;
          display: flex;
          align-items: center;
          transition: scale 0.4s ease;

          &:hover {
            scale: 105%;
          }

          @media screen and (min-width: 960px) {
            width: 8rem;
            height: 16rem;
            font-size: 5rem;
          }
          @media screen and (min-width: 1280px) {
            width: 8.1875rem;
            height: 16.375rem;
            font-size: 6.25rem;
          }

          span {
            // font-family: "Roboto", sans-serif;
            color: black;
            margin-left: -0.5rem;
            margin-top: -8.75rem;
            font-size: 3rem;
            font-weight: $fw-bold;

            -webkit-text-fill-color: black;
            -webkit-text-stroke: 0.1rem white;
          }
        }
      }
    }
  }
}

.modal-content {
  border-radius: 0.5rem !important;
  max-width: 667px !important;

  .close-button {
    z-index: 999;
    background-color: transparent;
    transition: background-color 0.3s;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: rgba(55, 55, 55, 0.7);
    }
  }
}

.thumb-container {
  z-index: 900;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

  .image-container {
    border-radius: 0.5rem !important;
    animation: clearBlur 1s forwards;
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: 10;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
  }

  .thumb-overlay {
    z-index: 902;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(22, 22, 22, 0.7));
    // background: radial-gradient(red, blue);
  }

  .thumb-gradient-bg {
    z-index: 901;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent 5%, rgba(22, 22, 22, 1) 60%);
    mask-image: linear-gradient(to top, black, transparent);
  }

  .logo-container {
    z-index: 902;
    position: absolute;
    bottom: 4rem;
    left: 1rem;

    .logo-image {
      position: absolute;
      top: 50%;
      left: 2%;
      width: 21rem;
    }
  }

  // Specific Logo Containers
  .zero-day {
    bottom: 4rem;
    border: solid;

    img {
      width: 12rem !important;
    }
  }

  .vikings {
    bottom: 5.5rem;
    left: 0;
    width: 100%;

    img {
      position: relative;
      left: 50% !important;
      transform: translateX(-50%);
      width: 65% !important;
    }
  }

  .blacklist {
    bottom: 8.5rem !important;
  }

  .uncharted {
    bottom: 3rem;
  }

  .sakamoto-days {
    bottom: 6rem;
  }
}

.content {
  padding: 1rem;
  position: relative;
  z-index: 905 !important;

  .movie-tags {
    margin-bottom: 1rem;
    display: flex;

    .movie-tag {
      padding: 0.125rem 0.25rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      font-weight: $fw-light;
      // margin-right: 0.5rem;
      color: white;

      &::after {
        content: "•";
        margin-left: 0.5rem;
        color: gray;
      }

      &:last-of-type::after {
        content: "";
      }
    }
  }

  .movie-description {
    font-size: 0.875rem;
    font-weight: $fw-regular;
    margin-bottom: 1rem;

    @media screen and (min-width: 960px) {
      font-size: 1rem;
    }
  }
}

.cta-button {
  border: none;
  width: 100%;
  font-size: 1rem;
  font-weight: $fw-regular;

  @media screen and (min-width: 1280px) {
    font-size: 1.5rem;
  }

  .text {
    margin-right: 0.75rem;
  }
}

// ANIMATIONS
@keyframes clearBlur {
  0% {
    backdrop-filter: blur(10px);
  }

  100% {
    backdrop-filter: blur(0);
  }
}

// .movie-dialog {
//   position: fixed;
//   // border: solid green;
//   z-index: 100;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   // right: 4rem;
//   width: 100% !important;
//   height: 100% !important;
//   background-color: rgba(0, 0, 0, 0.4);
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .dialog-container {
//     position: absolute;
//     left: 0;
//     right: 0;
//     width: 100%;
//     min-height: 200px;
//     border: solid 2px $clr-gray-input-border;
//     border-radius: 0.5rem;
//     color: white;
//     background: $clr-movie-dialog-background-gray;
//     padding: 0 0 1rem;
//     overflow: hidden;

//     @media screen and (min-width: 670px) {
//       width: 670px;
//     }
//   }

//   .close-button {
//     z-index: 999 !important;
//     cursor: pointer;
//     position: absolute;
//     top: 1rem;
//     right: 1.5rem;
//     color: white;
//     border: none;
//     font-size: 2.75rem;
//     width: 2.75rem;
//     height: 2.75rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: transparent;
//     border-radius: 50%;
//     transition:
//       background-color 0.4s ease,
//       box-shadow 0.4s ease;

//     &:hover {
//       background-color: #0f0f0f15;
//       box-shadow: 0 0 3rem gray;
//     }
//   }
// }
