@import "../abstracts/theme";

.tendances-section {
  position: relative;
  background-size: 10% 10%;
  background-repeat: no-repeat;
  background: linear-gradient(transparent, black 100px);
  color: white;
  margin-top: -9rem;
  padding: 2rem 2rem 6rem;

  @media screen and (min-width: 960px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  h3 {
    font-weight: $fw-medium;
  }

  .container {
    position: relative;

    .prev,
    .next {
      position: absolute;
      top: 0rem;
      z-index: 1;
      background-color: black;
      color: white;
      border: none;
      width: 3rem;
      height: 11rem;
      display: flex;
      align-items: center;
      transition:
        0.4s opacity ease,
        0.6s translate ease;

      span {
        padding: 0 0.5rem;
        border-radius: 0.625rem;
        height: 75%;
        display: flex;
        align-items: center;
        background-color: $clr-gray-arr;
        // transition: ;

        &:hover {
          background-color: $clr-gray-arr-hover;
        }

        @media screen and (min-width: 960px) {
          height: 60%;
        }
        @media screen and (min-width: 1280px) {
          height: 50%;
        }
      }

      @media screen and (min-width: 960px) {
        height: 14rem;
      }
      @media screen and (min-width: 1280px) {
        height: 15.75rem;
      }
    }

    .next {
      right: 0;
      padding: 0.75rem;
    }

    .wrapper {
      position: relative;
      height: 240px;
      overflow-x: scroll;

      // Hide scrollbar without disabling functionality:
      -ms-overflow-style: none; // For IE and Edge
      scrollbar-width: none; // For Firefox

      // For Chrome, Opera...
      &::-webkit-scrollbar {
        display: none;
      }

      .movies-list {
        position: absolute;
        display: flex;
        column-gap: 1.25rem;
        padding: 0 1rem;

        @media screen and (min-width: 960px) {
          column-gap: 2.75rem;
        }

        .movie-card {
          cursor: pointer;
          width: 7rem;
          height: 9.8rem;
          margin-top: 1rem;
          // background: url("/public/images/movies/scream-image.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: center;
          transition: scale 0.4s ease;

          &:hover {
            scale: 105%;
          }

          @media screen and (min-width: 960px) {
            width: 8.75rem;
            height: 12.25rem;
            font-size: 5rem;
          }
          @media screen and (min-width: 1280px) {
            width: 11.25rem;
            height: 15.75rem;
            font-size: 6.25rem;
          }

          span {
            // font-family: "Roboto", sans-serif;
            color: black;
            margin-left: -0.5rem;
            margin-top: 5rem;
            font-size: 4rem;
            font-weight: $fw-bold;

            -webkit-text-fill-color: black;
            -webkit-text-stroke: 0.1rem white;
          }
        }
      }
    }
  }

  .movie-dialog {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);

    .dialog-container {
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      width: 99%;
      min-height: 200px;
      border: solid 2px $clr-gray-input-border;
      border-radius: 0.5rem;
      color: white;
      background: $clr-movie-dialog-background-gray;
      padding: 0 0 1rem;
      overflow: hidden;
    }

    .close-button {
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      color: white;
      border: none;
      font-size: 2.5rem;
      width: 2.75rem;
      height: 2.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 50%;
      transition:
        background-color 0.4s ease,
        box-shadow 0.4s ease;

      &:hover {
        background-color: #0f0f0f15;
        box-shadow: 0 0 3rem gray;
      }
    }

    .thumb-image-container {
      height: 304.875px;
      width: 100%;

      .thumb-overlay {
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 100%;
        height: 304.875px;
        z-index: 10;
        // display: none;
      }

      .thumb-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }

      .logo-image {
        position: absolute;
        top: 50%;
        left: 2%;
        width: 21rem;
      }
    }

    .content {
      padding: 1rem;

      .movie-tags {
        margin-bottom: 2rem;
        .movie-tag {
          padding: 0.125rem 0.25rem;
          border-radius: 0.25rem;
          font-size: 0.625rem;
          margin-right: 0.5rem;
          background-color: $clr-gray-tag-background;
          color: rgba(255, 255, 255, 0.7);
        }
      }

      .movie-description {
        font-size: 0.875rem;
        margin-bottom: 1rem;
      }
    }

    .cta-button {
      border: none;
      width: 100%;
      font-size: 1rem;

      .text {
        margin-right: 0.5rem;
      }
    }
  }
}
